@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: green;
  background-image: url("https://c.pxhere.com/images/f6/19/df68e8a508b0207a93278b831ca5-1444407.jpg!d");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;




}
li:hover{
  background-color: black;
  transition: 0.5s;
  color: white;
}
#menu:hover{
  color: white;
  transition: 0.5s;
}
ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
div.tekst{
  margin: 30px;
  border: solid grey 1px;
  border-radius: 50px;
  width: 1000px;
  height: 560px;
  text-align: center;
  background-color: white;
  opacity: 0.7;


}
div.contact{
    margin: 30px;
    border: solid grey 2px;
    border-radius: 50px;
    width: 1000px;
    height: 650px;
    text-align: center;
    background-color: white;
    opacity: 0.7;


}
ul li {
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid grey;
  background-color: white;
  opacity: 0.7;
  border-radius: 40px;
  width: 150px;
  height: 40px;
  text-align: center;
  padding-top: 10px;


}
a:visited{
  text-decoration: none;
  color: black;
}

a{
  text-decoration: none;
}

img{
  height: 200px;
  width: 300px;


}


table{

  margin-left: 25%;
  margin-top: 5%;
  background-color: white;
  opacity: 0.7;
  width: 50%;
  height: 50px;
  text-align: center;
  font-size: 50px;


}
 th, td{
   border: solid black 1px;

 }
 td:hover{
  background-color: red;
  transition: 0.5s;
}
img#djtafel{
  border: solid pink 5px;
  width: 600px;
  height: 300px;
  margin-top: 5%


}
div.home{
  margin: 30px;
  border: solid grey 2px;
  border-radius: 50px;
  width: 1000px;
  height: 650px;
  text-align: center;
  background-color: white;
  opacity: 0.7;

}

p.index{
  padding-bottom: 1%;
}

h1.h1gaming{
  padding: 2%;
}

p.fortnite{
  padding: 2%;
}

p.inleiding{
  padding: 2%;
}
p.brawhala{
  padding: 2%;
}
p.rocketleaug{
  padding: 2%;
}

#contact{
  width: 900px;
  height: 450px;
  margin: 30px;



}
div.conteenter{
  display: flex;
  justify-content: center;
}
p{
  padding: 10px;
}
h1{
  padding: 20px;
}
